@charset "utf-8";
/* ATTENTION */
html,body{height:90%}
/* ATTENTION */
body{padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:11px; background:#FFF }
img {border:0 none}a{text-decoration:none; color:#777777} .pointer{cursor:pointer}
hr{border:0 none; height:1px; width:95%; color:#CCCCCC; border-color:#CCCCCC; background-color:#CCCCCC}
h2,h3{padding:0; margin:0}h1{font-size:18px; font-weight:bold; display:inline; margin:10px}
h2{font-size:14px; font-weight:bold}h3{font-size:12px; font-weight:bold}
.link{color:#0F29BB; text-decoration:underline; font-size:14px}
ul{padding:0; margin:0;}ul li a{display:block}
.spacer{ height:18px; clear:both}.clear{clear:both; height:1px}
.msg { color:#009; background:#e0ecff; border:#6694e3 3px  double; padding:10px}
input:focus {	outline: 0;	outline-offset: 0;}
input, select {font-size: 12px;vertical-align: top;outline: none;border: 1px solid #bdc2c9;height:17px;padding:0px;}

#menu{border-bottom:#c9d7f1 1px solid; height:24px;display:none}
#menu ul{padding:0; margin:0; }
#menu li{padding:0; margin:0; float:left; padding:3px 17px; list-style:none; font-size:13px; color:#0000CC}
#menu input,#menu select {color:#900}

.bar-a{ margin:0 2px; background-color:#c3d9ff; height:1px}
.bar-b{ margin:0 1px; background-color:#c3d9ff; height:1px}
.bar-c{ background-color:#c3d9ff; min-height:10px}

#d{ padding:0; margin:0; font-size:11px; text-align:center}
#d li{width:180px; height:120px; padding:0; margin:0; list-style:none; }
#d table{width:90%; background:#FFF; border-spacing:0; border-collapse:collapse; background-color:#fff}
#d td{cursor:pointer; border:#c3d9ff 1px solid}
#d li.curr_month table{ }
#d .dow th{background-color:#f1f1f1}
#d .month th{background-color:#C3D9FF; color:#112abb; font-size:11px; font-weight:bold}

.list li{list-style:none}

.today{ border:#00F 1px solid}

#log{height:250px; overflow:scroll; display:none}

.cal-header td{ text-align:center; color:#112abb;  width:14%}
.cal{border-collapse:collapse; border-spacing:0px;}
.cal td{  border:#C3D9FF 1px solid; vertical-align:top; text-align:center;  width:14%; font-size:10px; white-space:nowrap}
.cal-dt{height:14px; background-color:#E8EEF7; }
.cal-dt-civil{color:#777777; float:right;}
.cal-dt-hebrew{color:#B7CDF3; font-weight:bold; float:left; }
.cal-ona-0{ clear:both; min-height:20px; background-color:#f7f7f7; color:#666; font-weight:bold}
.cal-ona-1{ clear:both; min-height:5px; background-color:#fff; color:#666; font-weight:bold}

.times{background:#FFF url(../Images/time.png) no-repeat top left; color:#999; display:none; position: absolute; padding-left:15px
; border:#C3D9FF 3px double; text-align:left}
.cal td:hover .times{ display:block}

.shabat-s{background:url(../Images/shabat.png) no-repeat left}
.shabat-e{background:url(../Images/havdala.png) no-repeat top left}



.fs{width:220px; padding:15px;-moz-border-radius:5px; position:absolute; background:#FFF;display:none;}
.fs legend { background:#fff; padding:3px; border:#7C7B7D 1px solid;-moz-border-radius:5px; }
.fs legend label{padding-right:70px}
.fs legend span{ color:#F00; border:#CCC 1px solid; padding:1px 5px; cursor:pointer;-moz-border-radius:5px; }

.fcon form label{ float:left; width:90px;  display:block;height:20px; text-align:right}
.fcon form select,.fcon form span{width:120px; height:20px; display:block;float:left;}

.f{width:420px; padding:15px;-moz-border-radius:5px;   background:#FFF ; text-align:left}
.f legend { background:#fff; padding:3px; border:#7C7B7D 1px solid;-moz-border-radius:5px; }
.f legend label{padding-right:70px}
.f legend span{ color:#F00; border:#CCC 1px solid; padding:1px 5px; cursor:pointer;-moz-border-radius:5px; }
.f form label{ float:left; width:180px;  display:block;height:20px; text-align:right}
.f form select,.f form span{width:170px; height:20px; display:block;float:left;}

#step1 ul{margin:0; font-size:10px}
#step1{width:550px}
#step1 u{color:#F00; font-weight:bold}

#month-container{height:350px;background-color:#c3d9ff; overflow-y:scroll; overflow-x:hidden; position:relative;}


.has-cal-event{background-position:0; background-repeat:no-repeat;}

.ona-0{ float:left; width:4px;}
.ona-0 span{ background-position:center; background-repeat:no-repeat; display:block; width:4px; height:3px; }
.ona-1{ float:right; width:4px}
.ona-1 span{ background-position:center; background-repeat:no-repeat; display:block; width:4px; height:3px;}

.flow-s{ background-image:url(../Images/p-red.png); }
.flow-in{ background-image:url(../Images/p-pink.png) }
.hodesh{ background-image:url(../Images/p-yellow.png)}
.ona-benonit{background-image:url(../Images/p-orange.png) }
.haflaga{background-image:url(../Images/p-blue.png) }
.hefsek{background-image:url(../Images/p-purple.png)}
.seven-nekaim{background-image:url(../Images/p-green.png)}
.mikve{background-image:url(../Images/p-lightblue.png) }
.multi-event{background-image:url(../Images/p-multicolor.png) !important;  font-weight:bold}
